In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
def simple_interest(p,t,r):
  print("Principal: "+str(p),"Time Period: "+str(t),"Rate of Interest: "+str(r),sep="\n")
  print("Simple interest:",p*t*r/100)

In [ ]:
simple_interest(1000,1,2)

### 1. Generate a tuple from the set ["aman", "222", 777, 400.4]

In [ ]:
a1=tuple(["aman","222",777,400.4])
print(a1)

('aman', '222', 777, 400.4)

### 2. Create a dictionary of your basic data : (a) Roll No (b) Last Name (c) First Name (d) Date of birth. Print out the values and keys.

In [ ]:
d2={"rollno": "CB.EN.U4CSE20216","lname": "Penugonda","fname": "Dhanush","dob": "04-03-2003"}
print(d2)

{'rollno': 'CB.EN.U4CSE20216', 'lname': 'Penugonda', 'fname': 'Dhanush', 'dob': '04-03-2003'}

### 3. Use rand function to generate a 2-dimensional random array with seed.

In [ ]:
import random

### 4. Generate a single random number in [0.0, 1.0]. Find the absolute value of (-1234)

In [ ]:
print(round(random.uniform(0.1, 1.0), 10))
print(abs(-1234))

0.7036591799
1234

### 5. Return a random integer N such that 20 <= N <= 90.

In [ ]:
import random 
print(random.randint(20,91))

33

### 6. Given a population or set[11, 12, 13,14, 15]

o Return a 3 length list of unique elements without replacement.

o Shuffle the above set

o Print a random number from the set

In [ ]:
a6=[11,12,13,14,15]
print(a6[:3])
print(a6[random.randint(0,5)])

[11, 12, 13]
11

### 7. Write the text "The King is Dead, Long Live The King" on to a file in your hard drive; read and print the text.

In [ ]:
file=open("test.txt","w")
file.write("The King is Dead, Long Live The King")
file.close()
file=open("test.txt","r")
for i in file:
  print(i,end=" ")

### 8. Create an illustrative function to demonstrate use of: if, elif and else (b) for, while, break and continue.

In [ ]:
def compare(a,b):
  if a>b:
    print("A greater than B")
  elif a<b:
    print("A less than B")
  else:
    print("A equal to B")
compare(2,3)

A less than B

### 9. Given a string "The King is Dead, Long Live The King"

o Print the complete string

o Print first character of the string

o Print characters starting from 3rd to 5th

o Print string starting from 3rd character

o Split the words

In [ ]:
s="The King is Dead, Long Live The King"
print(s)
print(s[0])
print(s[2:5])
print(s[2:])
print(s.split())

### 10. An array can be created from a list: Create an array from a list comprising of numbers 1,4,5,8 (treat them as floats).Slice the above array to display first and second elements

In [ ]:
a10=[1,4,5,8]
print(a10[:2])

### 11. Arrays can be multidimensional. Create a two-dimensional array of (1,2,3) and (4,5,6).

In [ ]:
import numpy as np
arr=np.array([[1,2,3],[4,5,6]])
print(arr)

### 12. Array slicing works with multiple dimensions in the same way as usual, applying each slice specification as a filter to a specified dimension. Consider two-dimensional array of (1,2,3) and (4,5,6).

o Slice and display the 2nd row.

o Write code to display as array([2., 5.])

o Find the length of the array.

In [ ]:
print(arr[1])
print(arr[0][1],arr[1][1])
print(len(arr))

### 13. Arrays can be reshaped using tuples that specify new dimensions. Turn a ten-element one-dimensional array into a two-dimensional one whose first axis has five elements and whose second axis has two elements. Obtain the transpose of the array

In [ ]:
ar=np.array([1,2,3,4,5,6,7,8,9,0])
print(ar)
ar=ar.reshape(2,5)
print(ar)

### 14. Create an array from a list of 1,2 and 3.

### 15. Fill an array [1,2,3] with a single value [9,9,9].

In [ ]:
a15=[1,2,3]
a15=np.full((3),9)
print(a15)

### 16. Sum the elements of array [2,4,5].

In [ ]:
a16=[2,4,5]
print(sum(a16))

### 17. Give the products of array [77,74,75]

In [ ]:
a17=[77,74,75]
prod=1
for i in a17:
  prod*=i
print(prod)

### 18. Given an array [2,1,9,1,2,22,1,1,4,55,6,2,56]. Find mean, variance, max, min, argmin, median, argmax and standard deviation.

In [ ]:
from scipy import stats
a18=np.array([2,1,9,1,2,22,1,1,4,55,6,2,56])
print("Mean=",np.mean(a18))
print("Median=",np.median(a18))
print("Mode=",stats.mode(a18))
print("Max=",max(a18))
print("Min=",min(a18))

### 19. Extract unique elements from an array: [1, 1, 4, 5, 5, 5, 7] and sort it.

In [ ]:
a19=[1, 1, 4, 5, 5, 5, 7]
a19=list(set(a19))
a19.sort()
print(a19)

### 20. Find dot product of two arrays [1, 2, 3]and [0, 1, 1].

In [ ]:
a20=[1,2,3]
b20=[0,1,1]
print(np.dot(a20,b20))

### 21. Find the eigenvalues and eigenvectors of matrix A.

In [ ]:
a21=[[2,-12],[1,-5]]
x,y=np.linalg.eig(a21)
print(x,y)

### 22. Given an array with [11, 22, 11, 31], [25, 33, 31, 28]]. Treat as floats. Find the correlation coefficients.

In [ ]:
a22=[[11, 22, 11, 31], [25, 33, 31, 28]]
print(np.corrcoef(a22))